.comidas{
  background-color: blueviolet;
  color: chartreuse;
  .comidas_lista{
    border: 1px solid black;
    padding: 50px;
  }
  .titulo{
    color: burlywood;
    font-family: fantasy;
  }
  button{
    background-color: skyblue;
  }

}